{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.contract_id.label }}<br>
            {{ form.contract_id }}<br>
            {% for error in form.contract_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.delivery_id.label }}<br>
            {{ form.delivery_id }}<br>
            {% for error in form.delivery_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.day_nom_value.label }}<br>
            {{ form.day_nom_value(size=32) }}<br>
            {% for error in form.day_nom_value.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.downstream_contract.label }}<br>
            {{ form.downstream_contract(size=32) }}<br>
            {% for error in form.downstream_contract.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.downstream_ba.label }}<br>
            {{ form.downstream_ba(size=32) }}<br>
            {% for error in form.downstream_ba.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rank.label }}<br>
            {{ form.rank(size=3) }}<br>
            {% for error in form.rank.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.begin_date.label }}<br>
            {{ form.begin_date }}<br>
            {% for error in form.begin_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date }}<br>
            {% for error in form.end_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
{% endblock %}